<header>
  <div class="top">
    <section class="iconos">
      <a href="https://www.climasolution.cl/escribe-tu-testimonio/" title="Escribe tu Testimonio" aria-label="Ir a Escribe tu Testimonio">
        <i class="fa-solid fa-pencil"></i>
      </a>

      <i class="fa-solid fa-grip-lines-vertical separador"></i>

      <a href="https://www.facebook.com/ClimaSolutionChile/" title="Facebook" aria-label="Facebook (abre en una nueva pestaña)" target="_blank">
        <i class="fa-brands fa-facebook-f"></i>
      </a>
      
      <a href="https://www.instagram.com/climasolution/" title="Instagram" aria-label="Instagram (abre en una nueva pestaña)" target="_blank">
        <i class="fa-brands fa-instagram"></i>
      </a>
      
      <a href="https://www.linkedin.com/company/clima-solution-cl/" title="LinkedIn" aria-label="LinkedIn (abre en una nueva pestaña)" target="_blank">
        <i class="fa-brands fa-linkedin-in"></i>
      </a>
    </section>
    <section class="telefonos">
      <a href="tel:+56939215410" title="Llamar a Clima Solution" aria-label="Llamar a Clima Solution">
        <i class="fa-solid fa-phone"></i>(+56) 9 3921 5410</a>
      <a href="tel:+56946762124" title="Llamar a Clima Solution" aria-label="Llamar a Clima Solution">
        <i class="fa-solid fa-phone"></i>(+56) 9 4676 2124</a>
    </section>
  </div>
</header>
<router-outlet />
